In [ ]:
#datatypes in python
#python having 3 data types
#1.Int(integer)
#2.str(string or charecters)
#3.float(decimals)

In [10]:
a=10
b="muneesh"
c=1000000.25
print(a)
print(b)
print(c)

print(type(a))
print(type(c))
print(type(b))

10
muneesh
1000000.25
<class 'int'>
<class 'float'>
<class 'str'>

In [4]:
a=100
b=200
print(a+b)

300

In [ ]:
#operators in python
#1.Arthematic operators
#2.Assignment operators
#3.Comparasion operators
#4.Logical operators
#5.membership operators
#6.identity operators

In [1]:
#Arthematic operators
a=100
b=50
c=300
print(a+b)
print(b-c)
print(a*b)
print(a/b)
print(a//b)
print(a%b)

150
-250
5000
2.0
2
0

In [3]:
#Assignment operators
a=100
a=a+45
print(a)

145

In [4]:
a=100
a=a-45
print(a)

55

In [5]:
a=148
a=a*123/234
print(a)

77.7948717948718

In [1]:
#comparision operators
a=100
b=50
c=50
print(a>b)
print(a<c)
print(b==c)
print(a!=b) 
print(a>=c)
print(a<=c)

True
False
True
True
True
False

In [ ]:
#logical operators-and,or,not
"""
and logical truth table - all coditions are true then result is true or else result is false

"""

In [ ]:
names=("shivaji","vikas","raj","alok")
print("chandra"in names)
print("vikram"not in names)
print("shivaji" in names)

False
True
True

In [3]:
"""
Identity operators-is, is not
in python each value has some identity based on machines and validiting Tru or False
"""
a=10000
b=10000
print(id(a))
print(id(b))
print(a is b)

4425319600
4425319344
False

In [4]:
a=10
b=10
print(id(a))
print(id(b))
print(a is b)

4387579992
4387579992
True